@import "../node_modules/font-awesome/css/font-awesome.css";

html,
body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
main {
  width: 90%;
  margin: 0 auto;
}
